@define-color bg_dim #232a2e;
@define-color bg0 #2d353b;
@define-color bg1 #343f44;
@define-color bg2 #3d484d;
@define-color bg3 #475258;
@define-color bg4 #4f585e;
@define-color bg5 #56635f;
@define-color bg_visual #543a48;
@define-color bg_red #514045;
@define-color bg_green #425047;
@define-color bg_blue #3a515d;
@define-color bg_yellow #4d4c43;
@define-color fg #d3c6aa;
@define-color red #e67e80;
@define-color orange #e69875;
@define-color yellow #dbbc7f;
@define-color green #a7c080;
@define-color aqua #83c092;
@define-color blue #7fbbb3;
@define-color purple #d699b6;
@define-color grey0 #7a8478;
@define-color grey1 #859289;
@define-color grey2 #9da9a0;

/* padding: top right bottom left */
/* Spacing inside the element */

* {
  font-family: JetBrainsMono, Nerd Font, FontAwesome;
  font-size: 12px;
  font-weight: bold;
      min-height: 0;
}

window#waybar {
  background-color: @fg;
  color: @bg0;
  transition-property: background-color;
  transition-duration: 0.5s;
  border-radius: 0px 0px 15px 15px;
  transition-duration: .5s;

  border-bottom-width: 5px;
  border-bottom-color: #7d6a40;
  border-bottom-style: solid;
}

#custom-launcher,
#clock,
#clock-date,
#workspaces,
#pulseaudio,
#network,
#battery,
#custom-powermenu {
  background-color: @bg0;
  color: @fg;

  padding-left: 10px;
  padding-right: 10px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 5px;
  margin-bottom: 10px;
	border-radius: 10px;

  border-bottom-width: 5px;
  border-bottom-color: #161a1d;
  border-bottom-style: solid;
}

#workspaces {
  padding: 0px;
}
#workspaces button {
  background-color: @bg0;
  color: @fg;
}

#workspaces button.active {
  background-color: @blue;
  color: @bg0;

	border-radius: 10px;

  margin-bottom: -5px;

  border-bottom-width: 5px;
  border-bottom-color: #366660;
  border-bottom-style: solid;
}

#custom-launcher {
  background-color: @green;
  color: @bg0;
  border-bottom-color: #556a35;

  margin-left: 15px;
  padding-left: 20px;
  padding-right: 21px;
}

#custom-powermenu {
  background-color: @red;
  color: @bg0;
  border-bottom-color: #951c1f;

  margin-right: 15px;
  padding-left: 20px;
  padding-right: 23px;
}
