.cfg
../.bash_history
../.bash_logout
../.bash_profile
../.cache/
../.cargo/
dconf/
pulse/
user-dirs.dirs
user-dirs.locale
../.gitconfig
../.lesshst
../.local/share/
../.local/state/
../.npm/
../.pki/
../.profile
../.python_history
../.rustup/
../.var/
../.vim/
../.viminfo
../Pictures/
../dev/
