nvim/lazy-lock.json
GIMP/
lazygit/
KDE/
PlasmaDiscoverUpdates
QtProject.conf
RawTherapee/
Trolltech.conf
Unknown Organization/
VirtualBox/
VirtualBoxrc
akonadi-firstrunrc
akonadi/
akonadi_akonotes_resource_0rc
akonadi_contacts_resource_0rc
akonadi_ical_resource_0rc
akonadi_indexing_agentrc
akonadi_maildir_resource_0rc
akregatorrc
arkrc
baloofileinformationrc
baloofilerc
bluedevilglobalrc
btop/
dconf/
digikam_systemrc
digikamrc
discoverrc
dolphinrc
emaildefaults
emailidentities
fedora-plasma-cacherc
ghostwriterrc
gtk-2.0/
gtk-3.0/
gtkrc
gtkrc-2.0
gwenviewrc
hyprland-autoname-workspaces/
isoimagewriterrc
kactivitymanagerd-statsrc
kactivitymanagerdrc
kalendaracrc
kateschemarc
katevirc
kcminputrc
kconf_updaterc
kde.org/
kdeconnect/
kded5rc
kdedefaults/
kdeglobals
kfontinstuirc
kfontviewrc
kglobalshortcutsrc
khelpcenterrc
khotkeysrc
kinfocenterrc
klaunchrc
kmail2rc
kmixrc
knfsshare
konsolerc
konsolesshconfig
krunnerrc
kscreenlockerrc
ksmserverrc
ksplashrc
ktimezonedrc
kwalletrc
kwinrc
kwinrulesrc
kwritemetainfos
kwriterc
kxkbrc
libaccounts-glib/
libreoffice/
lvim/lazy-lock.json
menus/
okularpartrc
okularrc
partitionmanagerrc
pavucontrol.ini
plasma-localerc
plasma-org.kde.plasma.desktop-appletsrc
plasma-welcomerc
plasma_calendar_holiday_regions
plasmaparc
plasmarc
plasmashellrc
plasmawindowed-appletsrc
plasmawindowedrc
powerdevilrc
powermanagementprofilesrc
pulse/
rclone/
sddmthemeinstallerrc
session/
shapecorners.conf
specialmailcollectionsrc
spectaclerc
syncthing/
systemmonitorrc
systemsettingsrc
test.py
trashrc
user-dirs.dirs
user-dirs.locale
webengineurlinterceptoradblockrc
xdg-desktop-portal-kderc
xsettingsd/

