.cfg
.gitignore
.bash_history
.bash_logout
.bash_profile
.git-credentials
.cache/
.cargo/
.config/dconf/
.config/pulse/
.config/user-dirs.dirs
.config/user-dirs.locale
.gitconfig
.lesshst
.local/share/
.local/state/
.npm/
.pki/
.profile
.python_history
.rustup/
.var/
.vim/
.viminfo
Pictures/
dev/
.config/copyq/
.config/mimeapps.list
.mozilla/
notes/
